<div class="layout">
	<h1>极客头条</h1>
	
	<table class="category">
	  <tr>
	  	<td class="catitem">分类列表：</td>
	  	<td class="catitem"><a href="/">All</a></td>
	  	<% @categories.each do |category| %>
	    <td class="catitem <% if category.id.to_i == @catid %> selected <% end %>"><a href="/welcome/<%= category.id %>"><%= category.name %></a></td>
	    <% end %>
	  </tr>
	</table>

	<br />
	
	<ul class="linklist">
		<% @links.each do |link| %>
		<li>
			<div class="title"><a href="<%= link.url %>" target="_blank"> <%= link.name %></a><span class="time"><%= link.gmt_created.strftime("%Y-%m-%d")  %></span></div>
			<div class="content"><a href=""><%= link.content %></a></div>
		</li>
		<% end %>
	</ul>
	<div class="page">
	当前第<%= @pageindex %>页
	<% if @pageindex > 1 %><a href="/welcome/<%=@catid%>?pageindex=<%=@pageindex-1%>">上一页</a> <% else %>上一页<% end %>
	<% if @totalpage > @pageindex %><a href="/welcome/<%=@catid%>?pageindex=<%=@pageindex+1%>">下一页</a> <% else %> 下一页 <% end %>
	总共<%= @totalpage %>页
	</div>
	<br />
</div>
