
<%= link_to "IT技术分享" , categories_path %>

<h1>Listing categories</h1>

<table>
  <tr>
  	<td><a href="/">All</a></td>
  	<% @categories.each do |category| %>
    <td ><a href="/welcome/<%= category.id %>"><%= category.name %></a></td>
    <% end %>
  </tr>
</table>

<br />

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Url</th>
    <th>Content</th>
    <th>Gmt created</th>
    <th>View</th>
    <th>Gmt modified</th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%= link.id %></td>
    <td><%= link.name %></td>
    <td><%= link.url %></td>
    <td><%= link.content %></td>
    <td><%= link.gmt_created %></td>
    <td><%= link.view %></td>
    <td><%= link.gmt_modified %></td>
  </tr>
<% end %>
</table>
<p>

当前第<%= @pageindex %>页
<% if @pageindex > 1 %><a href="">上一页</a> <% else %>上一页<% end %>
<% if @totalpage > @pageindex %><a href="">下一页</a> <% else %> 下一页 <% end %>
总共<%= @totalpage %>页
</p>
<br />